<div class="row">
    <h1 class="col-auto"><a class="text-decoration-none" href="/">AMAZUN</a></h1>
    <div class="col row">
        <p class="text-end col">Welcome <span class="fw-bold"><a href="/profile"><%= first_name %>!</span></a></p>
        <div class="col-auto text-end">
            <%_ if(role == 1) { _%>
            <a href="/admin" class="text-end">Admin Page</a>
            <%_ } _%>
            <a class="text-danger text-end" href="/logout">Logout</a>
        </div>
    </div>
</div>
