<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Signup Page</title>
        <link rel="stylesheet" href="css/bootstrap/bootstrap.css" />
        <script defer src="js/bootstrap/bootstrap.js"></script>
        <script defer src="js/logout.js"></script>
    </head>
    <body class="min-h-100 py-3">
        <div class="container">
            <h1>AMAZUN</h1>
            <div class="alert alert-danger" role="alert"><p class="text-danger">Logging out</p></div>
        </div>
    </body>
</html>
