<div class="row">
    <h1 class="col-auto"><a class="text-decoration-none" href="/">AMAZUN</a></h1>
    <div class="col row">
        <p class="text-end col">Welcome <span class="fw-bold"><%= first_name %>!</span></p>
        <div class="col-auto text-end">
            <a class="text-danger text-end" href="/logout">Logout</a>
        </div>
    </div>
</div>
